media/
__pycache__/
.idea/
slides/
misc_files/
*/slides/
*/media/Tex
*/media/videos
*/media/texts
#!funktioner/media/images/to_punkt_lin
#!funktioner/media/images/stykvise_funktioner
#!funktioner/media/images/inverse_funktioner
#!funktioner/media/images/*
#!fysik/media/images/bølger
#!fysik/media/images/gitterligning
#!fysik/media/images/absorption_excitation
#!fysik/media/images/mekanisk_energi
#!fysik/media/images/*
